body {
    margin: 0%;
    padding: 0%;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    user-select: none;
    max-height: 100dvh;
}

a {
    text-decoration: none;
}

#opening-animation {
    background-color: #141618;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.8s;
    animation: ease-in;
    z-index: 100;
    opacity: 0;
    animation: fadeIn 0.3s;
    pointer-events: none;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.page-bg {
    background-image: url("/images/pictures/pic1.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transform: .5s;
    position: absolute;
    z-index: -100;
    top: 0;
}

.containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: none;
    margin: 16px;
    justify-content: space-between;
    height: calc(100dvh - 112px);
}

.container {
    background-color: #23282d;
    box-shadow: 0px 0px 16px black;
    border-radius: 8px;
    scrollbar-width: thin;
    scrollbar-color: #45a29e #23282d;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 8px;
    padding: 0px;
    max-height: 100%;
    min-height: 100%;
    border: none;
}

.container-bottom {
    margin-bottom: 480px;
}

.header-top {
    top: 0dvh;
    width: calc(100% - 64px);
    border-radius: 8px;
    margin: 16px;

    height: 32px;
    display: flex;
    align-items: center;
    background-color: #23282d;
    justify-content: space-between;
    padding: 16px;
    color: #c5c6c7;
    box-shadow: 0px 0px 16px black;
}

.header-logo {
    align-self: flex-start;
    height: 32px;
    display: flex;
    transition: 0.25s;
}

.navmenu {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    transition: 0.25s;
}

.navmenu-element {
    margin-left: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 32px;
}

.navmenu-element:hover>.navmenu-element-img {
    margin-bottom: 4px;
    opacity: 1;
}

.navmenu-element:hover>.navmenu-element-text {
    color: #c5c6c7;
}

.navmenu-current>.navmenu-element-img {
    margin-bottom: 6px;
    opacity: 1;
}

.navmenu-current:hover>.navmenu-element-img {
    margin-bottom: 4px;
    opacity: 1;
}

.navmenu-current:hover>.navmenu-element-text {
    color: #45a29e;
}

.navmenu-current>.navmenu-element-text {
    color: #45a29e;
}

.navmenu-element:hover {
    cursor: pointer;
}

.navmenu-element-text {
    background-color: #23282d;
    color: #a5a6a7;
    text-align: center;
    transition: linear 0.05s;
    font-size: 10px;
}

.navmenu-element-img {
    width: 20px;
    filter: invert(64%) sepia(6%) saturate(3458%) hue-rotate(129deg) brightness(86%) contrast(89%);
    position: absolute;

    margin-bottom: 6px;
    transition: linear 0.08s;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    opacity: .5;
}

@font-face {
    font-family: "NeoSans";
    src: url("/fonts/NeoSansArabic.ttf");
}