body {
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
    background-color: #1d2024 !important;
}

div {
    font-family: 'Cairo', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

::selection { background: #4cb5f5; }

.body-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.main-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min( calc(100% - 64px), 1280px );
    height: min( calc(100% - 64px), 720px );
    margin-block: 64px;
}

.login-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min( calc( 100vw - 64px), 480px );
    height: min( calc( 100vw - 64px), 512px );
    background-color: #23282d;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 32px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
    width: 80%;
}

.input-container span {
    width: 100%;
    color: #c9c9c9;
}

.input-container input {
    font-family: 'Cairo', sans-serif;
    width: 100%;
    border: #c9c9c9 solid 2px;
    background-color: #23282d;
    color: #c9c9c9;
    border-radius: 8px;
    height: 32px;
    padding-inline: 16px;
}

.login-button {
    font-family: 'Cairo', sans-serif;
    border: #c9c9c9 solid 2px;
    border-radius: 8px;
    height: 32px;
    padding-inline: 16px;
    cursor: pointer;
}

.logo {
    height: 96px;
    margin-bottom: 48px;
}

.login-message {
    font-family: 'Cairo', sans-serif;
    border: #a03131 solid 2px;
    background-color: #cd4444;
    color: #f1f1f1;
    border-radius: 8px;
    height: 32px;
    padding-inline: 16px;
}

.itemlist-showmore {
    font-family: 'Cairo', sans-serif;
    border: #c9c9c9 solid 2px;
    background-color: #ffffff;
    color: #161616;
    border-radius: 8px;
    height: 32px;
    padding-inline: 16px;
    margin-top: 16px;
    cursor: pointer;
}

.itemlist-showmore:hover {
    background-color: #f1f1f1;
}